:root {
  --linkedin-blue: rgb(10, 102, 194);
  --linkedin-white: rgb(255, 255, 255);
  --github-black: rgb(0, 0, 0);
  --github-white: rgb(255, 255, 255);
}

html {
  scroll-padding-top: 62px;
}

.section-name {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.section-name svg {
  width: 1.75rem;
  height: 1.75rem;
}

.section-heading {
  padding-bottom: 0.5rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  margin-bottom: 1.5rem;
}

.skill-logo {
  width: 96px;
  max-height: 96px;
}

.certification-logo {
  width: 144px;
  max-height: 144px;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(0);
  mix-blend-mode: difference;
}

.contact {
  margin-bottom: 1.5rem;
  transition-duration: 250ms;
  border-radius: var(--bs-border-radius-xxl);
  box-shadow: var(--bs-box-shadow-lg);
}

#contact-linkedin {
  color: var(--linkedin-white);
  background-color: var(--linkedin-blue);
}

#contact-linkedin:hover {
  color: var(--linkedin-blue);
  background-color: var(--linkedin-white);
}

#contact-github {
  color: var(--github-white);
  background-color: var(--github-black);
}

#contact-github:hover {
  color: var(--github-black);
  background-color: var(--github-white);
}
