.skill-logo {
  width: 96px;
}

.certification-logo {
  width: 128px;
}

.carousel-item>a {
  cursor: zoom-in;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(0);
  mix-blend-mode: difference;
}
